<form class="example-form search" #searchForm="ngForm" (submit)="submit(searchForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search for a Restaurant!" name="result" ngModel required>
  </mat-form-field>
  <button mat-raised-button type="submit" class="searchButton" color="primary">Search</button>
</form>
<div *ngIf="businesses == undefined">
none
</div>

<div *ngIf="businesses != undefined">
  <div *ngIf="businesses.length == 0">
    none
  </div>
  <div class="content" style="margin-left:10px;">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let business of businesses">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title class="name">{{business.name}}</mat-card-title>
            <button (click)="onSelect(business)">test</button>
          </mat-card-header>
          <img class="image" mat-card-image src="{{business.image_url}}">
          <mat-card-content>
            <p>
              {{business.phone}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>



