<div>
  <BR/>
  <div class="parent">
    <form class="example-form search" #searchForm="ngForm" (submit)="submit(searchForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search for a Restaurant!" name="result" ngModel required>
      </mat-form-field>
      <button mat-raised-button mat-stroked-button matSuffix type="submit" class="searchButton" style="float:right" color="primary">Search</button>
    </form>
  </div>
  <BR />

  <div *ngIf="businesses != undefined">
    <div class="parent" *ngIf="businesses.length == 0">
      <h1>No Results</h1>
    </div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <div class="content" style="margin-left:10px;">
        <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch">
          <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let business of businesses">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title class="name">{{business.name}}</mat-card-title>
              </mat-card-header>
              <div>
                <mat-divider></mat-divider>
                <img class="image" mat-card-image src="{{business.image_url}}">
                <mat-divider></mat-divider>
              </div>
              <br />
              <mat-card-content>
                <p>Phone: {{business.phone}}</p>
                <p>Rating: {{business.rating}}</p>
              </mat-card-content>

              <mat-card-actions>
                <button mat-button (click)="onSelect(business)">INFO</button>
                <button mat-button (click)="openModal(business)">RATE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-grid-list>
  </div>
</div>





