.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.search {
  display:inline-block;
}

.searchButton {
  margin-left: 10px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.mat-card {
  padding: 18px !important; // less padding than per default
}

.mat-card-image {
  width: calc(100% + 36px) !important; // update padding
  margin: 0 -24px 16px -18px !important; // update padding
}

.mat-tab-label {
  font-size: 16px !important;
}

.mat-card-title {
  font-size:24px !important;
  font-weight: 500 !important;
}

.mat-card-content {
  font-size: 14px !important;
  min-height: 30px; // <--- to remove !!!
}

.product {
  margin-bottom: 25px;
  /*min-width: 180px;
  text-align: center;*/
}

/* desktop button */
.mat-card-add-button {
  border: 1px dashed grey;
  box-shadow:none !important;
  cursor:pointer;
}

.product img {
  height: 250px;
  object-fit: contain;
}

.image{
  height: 300px; /* adjust as needed */
  object-fit: contain;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 295px;
  padding-bottom: 3px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


